name: Regression - Custom provider

on:
  push:
    branches:
      - main
  pull_request_target:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  regression-tests:
    name: Regression tests - custom provider - CLI
    strategy:
      matrix:
        product: [Live-Common, Live-Desktop, Custom-G, Custom-W]
        currency: [BTC, ETH, LTC, BCH]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install bs4

      - name: Install Xpub Scan dependencies and build it
        run: |
          yarn && yarn build

      - name: ${{ matrix.product }} x ${{ matrix.currency }}
        run: |
          export XPUB_SCAN_CUSTOM_API_KEY_V2=${{ secrets.XPUB_SCAN_CUSTOM_API_KEY_V2 }}

          python .github/workflows/regression_tests/check.py ${{ matrix.product }} ${{ matrix.currency }} custom
  regression_tests_custom_provider:
    runs-on: ubuntu-latest
    needs:
      - regression-tests
    steps:
      - name: just exit
        run: exit 0
